@charset "utf-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px;
}

html{scroll-behavior: smooth;}

body{
    font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
    color: #313131;
}

/* navigation bar */
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #1b2538;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vh;
}

li{
    float: left;
    border-right: 1px solid #bbbbbb;
}

li a{
    display: block;
    color: white;
    text-decoration: none;
    width: 24vw;
    height: 5vh;
}

li:last-child{border-right: none;}
li a:hover:not(.active){background-color: #a9bce2;}
.active{background-color: #da3c41;}

/* main content */
div#top, div#product, div#profile{
    height: 100vh;
}
div#top, div#product, div#profile, div#link{
    padding: 5vh 0 0 0;
}
div#link{
    padding: 3vh 0 0 0;
    height: 95vh;
}
.absolute{
    position: absolute;
    width: 100%;
    height: 100vh;
    border: solid 1px red;
}
.absolute#absProfile{
    top: 100vh;
}
.absolute#absProduct{
    top: 200vh;
}
.relative{
    position: relative;
    width: 100%;
    height: 100vh;
}
.centering{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}

#profImage{
    width: 30vw;
    height: 25vw;
}
#productImage{
    width: 60vw;
    height: 40vw;
}

div#top{background-color: #fcff59;}
div#profile{background-color: #a4ff59;}
div#product{background-color: #59ff9e;}
div#link{background-color: #59e6ff;}

/* footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
}